.container {
  max-width: 1220px;
  margin: 0 auto;
}
.header {
  background-color: #2b3743;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav ul {
  padding: 20px;
  font-size: 22px;
}
